:root {
  --color-shadow: #00000047;
  --color-bg: #f7f7f7;
  --color-alter-bg: #ffffff;
  --color-text: #2d2d2d;
  --color-red-bg: #ff826e;
  --color-green-bg: #1fcd54;
  --font-family: system-ui;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
}

#main-header {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--color-text);
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 7px var(--color-shadow);
}

.std-fake-box,
.std-box {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.std-box {
  box-shadow: 0px 0px 7px var(--color-shadow);
}

.std-column {
  display: flex;
  flex-direction: column;
  gap: 10px 10px;
}

.std-row {
  display: flex;
  flex-direction: row;
  gap: 10px 10px;
  align-items: center;
}

select.std,
textarea.std,
input.std {
  font-family: var(--font-family);
  font-size: initial;
  padding: 5px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-text);
  background-color: var(--color-alter-bg);
}

textarea.std:focus-visible,
input.std:focus-visible {
  outline: none;
  box-shadow: inset 0px 0px 3px var(--color-shadow);
}

.std-fake-button,
input.std[type="submit"],
button.std {
  text-decoration: none;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: initial;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-text);
  background-color: var(--color-bg);
  cursor: default;
}

.std-fake-button:hover,
input.std[type="submit"]:hover,
button.std:hover {
  box-shadow: inset 0px 0px 3px var(--color-shadow);
}

.std-fake-button.red,
input.std[type="submit"].red,
button.std.red {
  background-color: var(--color-red-bg);
}

.std-fake-button.green,
input.std[type="submit"].green,
button.std.green {
  background-color: var(--color-green-bg);
}

table.std-data {
  background-color: var(--color-bg);
  border-spacing: 0;
}

table.std-data td {
  padding: 5px;
}

table.std-data td:not(:last-child) {
  border-right: 1px solid var(--color-text);
}

table.std-data > thead tr td {
  border-bottom: 1px solid var(--color-text);
  font-weight: bold;
}

table.std-data > tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--color-text);
}

table.std-data > tbody tr:hover {
  background-color: var(--color-alter-bg);
}

div.pagination {
  display: flex;
  flex-direction: row;
  margin: 5px;
  gap: 5px 5px;
  align-items: center;
}

div.pagination div.pagination-page {
  padding: 5px;
  min-width: 10px;
  min-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

div.pagination div.pagination-page[tp="current"],
div.pagination div.pagination-page[tp="page"] {
  border: 1px solid var(--color-text);
  border-radius: 3px;
  background-color: var(--color-bg);
  min-width: 20px;
  min-height: 20px;
}

div.pagination div.pagination-page[tp="current"] {
  background-color: var(--color-alter-bg);
}
